<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MaxyMessage</title>
    <link rel="icon" href="/images/chat.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="bg-slate-300 h-full max-h-full flex flex-col">
    <header class="bg-slate-200 flex-none flex justify-center">
      <div class="flex-1 flex justify-between items-center p-4 max-w-[600px]">
        <h1 class="text-xl font-bold">MaxyMessage</h1>
        <% if (locals.currentUser) { %>
        <div class="flex gap-2 items-center">
          <p class="italic">@<%= currentUser.username %></p>
          <div
            class="w-10 h-10 rounded-full border-2 border-slate-600 overflow-hidden object-center object-cover"
          >
            <img src="<%= currentUser.avatar %>" alt="gravatar" />
          </div>
        </div>
        <% } %>
      </div>
    </header>
    <nav class="bg-slate-100 flex-none">
      <div class="flex gap-4 justify-center p-2">
        <% if (locals.currentUser) { %>

        <a
          href="/"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Chats</a
        >
        <a
          href="/users"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Add Chat</a
        >
        <a
          href="/log-out"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Log Out</a
        >

        <% } else { %>

        <a
          href="/sign-up"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Sign Up</a
        >
        <a
          href="/log-in"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Log In</a
        >

        <% } %>
      </div>
    </nav>
    <main class="bg-slate-300 flex-1 flex justify-center overflow-hidden">
      <div class="flex-1 flex flex-col p-4 gap-2 max-w-[600px] overflow-hidden">
        <h2 class="flex-none text-lg font-bold"><%= locals.header %></h2>
        <div
          class="flex-initial h-full bg-slate-400 rounded-2xl overflow-hidden flex flex-col"
        >
          <div class="flex-1 flex flex-col gap-2 p-2 h-full overflow-auto">
            <% locals.allAvailUsers.forEach(user => { %>

            <form action="/rooms/create" method="POST">
              <div
                class="rounded-lg p-2 bg-slate-200 border-l-4 border-amber-500 flex items-center gap-4"
              >
                <div
                  class="w-8 h-8 rounded-full border-2 border-slate-600 overflow-hidden object-center object-cover"
                >
                  <img src="<%= user.avatar %>" alt="gravatar" />
                </div>
                <p class="font-bold italic">@<%= user.username %></p>
                <input type="hidden" name="userId" value="<%= user._id %>" />
                <input
                  type="submit"
                  value="Add"
                  class="rounded-lg px-6 py-1 text-white font-bold bg-blue-500 hover:cursor-pointer hover:bg-blue-400 ml-auto"
                />
              </div>
            </form>

            <% }) %>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-sky-900 flex-none p-4 grid place-content-center">
      <p class="text-white italic text-sm">powered by Maximilian Aoki</p>
    </footer>
  </body>
</html>
