<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MaxyMessage</title>
    <link rel="icon" href="/images/chat.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/output.css" />
  </head>
  <body class="bg-slate-300 h-full max-h-full flex flex-col">
    <header class="bg-slate-200 flex-none flex justify-center">
      <div class="flex-1 flex justify-between items-center p-4 max-w-[600px]">
        <h1 class="text-xl font-bold">MaxyMessage</h1>
        <% if (locals.currentUser) { %>
        <div class="flex gap-2 items-center">
          <p class="italic">@<%= currentUser.username %></p>
          <div
            class="w-10 h-10 rounded-full border-2 border-slate-600 overflow-hidden object-center object-cover"
          >
            <img src="<%= currentUser.avatar %>" alt="gravatar" />
          </div>
        </div>
        <% } %>
      </div>
    </header>
    <nav class="bg-slate-100 flex-none">
      <div class="flex gap-4 justify-center p-2">
        <% if (locals.currentUser) { %>

        <a
          href="/"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Chats</a
        >
        <a
          href="/users"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Add Chat</a
        >
        <a
          href="/log-out"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Log Out</a
        >

        <% } else { %>

        <a
          href="/sign-up"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Sign Up</a
        >
        <a
          href="/log-in"
          class="rounded-lg bg-sky-900 hover:bg-sky-700 text-white font-bold py-1 px-4"
          >Log In</a
        >

        <% } %>
      </div>
    </nav>
    <main class="bg-slate-300 flex-1 flex justify-center overflow-hidden">
      <div class="flex-1 flex flex-col p-4 gap-2 max-w-[600px] overflow-hidden">
        <h2 class="flex-none text-lg font-bold"><%= locals.header %></h2>
        <div
          class="flex-initial h-full bg-slate-400 rounded-2xl overflow-hidden flex flex-col"
        >
          <div class="flex-1 flex flex-col gap-2 p-2 h-full overflow-auto">
            <% locals.allOpenRooms.forEach(room => { %> <% if
            (!room.mostRecentMessage.user ||
            room.mostRecentMessage.user.toString() !==
            currentUser._id.toString()) { %>

            <a
              href="<%= room.url %>"
              class="rounded-lg p-2 bg-slate-200 border-l-4 border-amber-500 flex flex-col"
            >
              <% room.users.forEach(user => { %> <% if (user._id.toString() !==
              currentUser._id.toString()) { %>

              <div class="flex justify-between content-center">
                <p class="font-bold italic">@<%= user.username %></p>
                <div
                  class="w-6 h-6 rounded-full border-2 border-slate-600 overflow-hidden object-center object-cover"
                >
                  <img src="<%= user.avatar %>" alt="gravatar" />
                </div>
              </div>
              <p class="text-slate-800">
                <%= `${room.mostRecentMessage.text.substring(0, 65).trim()}
                (...)` %>
              </p>
              <p class="self-end text-sm italic mt-1 text-slate-700">
                <%= room.mostRecentMessage.formattedUpdate %>
              </p>

              <% } %> <% }) %>
            </a>

            <% } else { %>

            <a
              href="<%= room.url %>"
              class="rounded-lg p-2 bg-slate-300 border-l-4 border-slate-500 flex flex-col"
            >
              <% room.users.forEach(user => { %> <% if (user._id.toString() !==
              currentUser._id.toString()) { %>

              <div class="flex justify-between content-center">
                <p class="italic">sent to @<%= user.username %></p>
                <div
                  class="w-6 h-6 rounded-full border-2 border-slate-600 overflow-hidden object-center object-cover"
                >
                  <img src="<%= user.avatar %>" alt="gravatar" />
                </div>
              </div>
              <p class="text-slate-800">
                <%= `${room.mostRecentMessage.text.substring(0, 60).trim()}
                (...)` %>
              </p>
              <p class="self-end text-sm italic mt-1 text-slate-700">
                <%= room.mostRecentMessage.formattedUpdate %>
              </p>

              <% } %> <% }) %>
            </a>

            <% } %> <% }) %>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-sky-900 flex-none p-4 grid place-content-center">
      <p class="text-white italic text-sm">powered by Maximilian Aoki</p>
    </footer>
  </body>
</html>
